@use 'base/variables' as v; //   carpeta/nom_archivo
@use 'base/mixins' as m;

.recuperar{
    margin-top: 5rem;
    h1{
        background: linear-gradient(to right, v.$azul 0%, lighten(v.$azul, 30%) 100%);
        color: transparent;
        background-clip: text;
        font-size: 7rem;
        text-align: center;
        @include m.tablet{
            font-size: 10rem;
        }
    }
    input[type="submit"]{
        @include m.boton(v.$azul, v.$blanco);
    }
    
    .acciones{
        a{
            color: v.$azul;
        }
    }
}